
<!--<div  class="d-flex flex-wrap">
  <div *ngFor="let god of gods" class="m-3 w-10">
    <img src="{{ god.portaitUri }}" class="mx-auto d-block" width="128" height="128"/>
    <p class="text-center">{{ god.id }} </p>
    <p class="text-center">{{ god.name }} </p>
    <p class="text-center">{{ god.title }}</p>
  </div>
</div>-->

<div class="container">
  <div class="row">
    <div *ngFor="let god of gods" class="col">
      <img src="{{ god.portaitUri }}" class="mx-auto d-block" width="128" height="128" />
      <p class="text-center mt-0 mb-0">{{ god.id }} </p>
      <p class="text-center mt-0 mb-0 font-weight-bold">{{ god.name }} </p>
      <p class="text-center mt-0 mb-0 ">{{ god.title }}</p>
    </div>
  </div>
</div>

<p>{{ otherGod.name }}</p>
